:root {
    /* background colours */
    --dark-bg: #1f2937;
    --cta-bg: #3882f6;
    --quote-bg: #e5e7eb;

    /* text colours  */
    --main-text:#f9faf8;
    --secondary-text: var(--quote-bg);
    --logo-text: var(--main-text);
    --info-header-text:var(--dark-bg);
    --quote-text: var(--info-header-text);
    --button-colour: var(--cta-bg);

    /* font size in base 10*/
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    --hero-main-text-size: 4.8rem;
    --hero-secondary-text-size: 1.8rem;
    --header-logo-text-size: 2.4rem;
    --info-header-text-size: 3.6rem;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.body {
    display: flex;
    flex-direction: column;
}  

.page-container {
    display: flex;
    flex-direction: column;
  }

.header, .nav-top-left, .nav-top-right {
    display: flex;
  }

.header {
    align-items: center;
    background-color: var(--dark-bg);
    padding-top: 1rem;
  }

.nav-top-right > li, .nav-top-left > li {
    list-style: none;
}

.nav-top-left {
    color: var(--main-text);
}

.nav-top-right {
    gap: 1rem;
}

.nav-top-left > li {
    font-size: var(--header-logo-text-size);
}

.nav-top-right > li > a {
    font-size: var(--hero-secondary-text-size);
    text-decoration: none;
    color: var(--secondary-text)
}

/* ------ hero section ------ */

.center {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-bg);
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.hero-text, .hero-image {
    display: flex;
    max-width: 30vw;
}

.hero-text {
    flex-direction: column;
    gap: 1.5rem;
}

.hero-image > img {
    max-width: 350px;
}

.hero-main-text {
    flex-wrap: wrap;
    font-weight: 900;
    font-size: var(--hero-main-text-size);
    color: var(--main-text);
}

.hero-subtext {
    font-size: var(--hero-secondary-text-size);
    color: var(--secondary-text); 
}

.hero-btn {
    align-items: flex-start;
    border-radius: .5rem;
    background-color: var(--button-colour);
    font-size: var(--hero-secondary-text-size);
    font-weight: 600;
    color: var(--main-text);
    padding: .5rem;
    width: 5vw;
}

/* ------ image container ------ */

.image-container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--info-header-text);
    font-size: var(--info-header-text-size);
    font-weight: 900;
}

.images {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
}

.img-subtext-container {
    display: flex;
    font-size: var(--hero-secondary-text-size);
}

.img-subtext-container {
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    max-width: 20rem;
}

.image-container > .images > .img-subtext-container > img {
    max-width: 10vw;
}

.img-subtext {
    text-align: center;
    color: var(--info-header-text)
}

/* ------ quote section ------ */

.quote-container {
    display: flex;
    background-color: var(--quote-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.center {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.quote-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
}