:root {

/* used :root for the first time to set global variables, to be allow for easier styling further down */

    /* background colours */
    --dark-bg: #1f2937;
    --cta-bg: #3882f6;
    --quote-bg: #e5e7eb;

    /* text colours  */
    --main-text:#f9faf8;
    --secondary-text: var(--quote-bg);
    --logo-text: var(--main-text);
    --info-header-text:var(--dark-bg);
    --quote-text: var(--info-header-text);
    --button-colour: var(--cta-bg);

    /* font size in base 10*/
    font-size: 10px;
    font-family: "Inter";
    --hero-main-text-size: 4.8rem;
    --hero-secondary-text-size: 1.8rem;
    --header-logo-text-size: 2.4rem;
    --info-header-text-size: 3.6rem;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
  }

 /* centering class as referred to in index.html   */
.header-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter";
}  

.header, .nav-top-left, .nav-top-right {
    display: flex;
  }

.header {
    align-items: center;
    background-color: var(--dark-bg);
    padding-top: 1rem;
  }

.nav-top-right > li, .nav-top-left > li {
    list-style: none;
}

.nav-top-left {
    color: var(--main-text);
}

.nav-top-right {
    gap: 1rem;
}

.nav-top-left > li {
    font-size: var(--header-logo-text-size);
}

.nav-top-right > li > a {
    font-size: var(--hero-secondary-text-size);
    text-decoration: none;
    color: var(--secondary-text)
}

.header-center {
    display: flex;
    max-width: 50%;
    margin: 0 auto;
}

/* ------ hero section ------ */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
    background-color: var(--dark-bg);
    gap: 3rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.hero-center {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;
}

.hero-text {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    max-width: 60%;
    gap: 1.5rem;
    margin-right: 1rem;
}

.hero-image {
    display: flex;
    flex-basis: auto;
}

.hero-image > img {
    max-width: 350px;
}

.hero-main-text {
    /* flex-wrap: wrap; */
    font-weight: 900;
    font-size: var(--hero-main-text-size);
    color: var(--main-text);
}

.hero-subtext {
    font-size: var(--hero-secondary-text-size);
    color: var(--secondary-text); 
}

.hero-btn {
    display: flex;
    align-self: flex-start;
    border-radius: .5rem;
    border: none;
    background-color: var(--button-colour);
    font-size: var(--hero-secondary-text-size);
    font-weight: 600;
    color: var(--main-text);
    padding: .5rem;
    padding: .5rem 1.5rem;
}

/* ------ image container ------ */

.image-container {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.img-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--info-header-text);
    font-size: var(--info-header-text-size);
    font-weight: 900;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 5rem;
}

.img-subtext-container {
    display: flex;
    font-size: var(--hero-secondary-text-size);
}

.img-subtext-container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 20rem;
}

.image-container > .images > .img-subtext-container > img {
    max-width: 10vw;
}

.img-subtext {
    text-align: center;
    color: var(--info-header-text)
}

/* ------ quote section ------ */

.quote-container {
    display: flex;
    background-color: var(--quote-bg);
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding: 12rem 0;
}

.image-container, .center {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin: 0 auto;
}

.quote-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: var(--info-header-text-size);
    font-weight: 100;
    font-style: italic;
    color: var(--quote-text);
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 900;
    color: var(--quote-text);
}

/* ------ call to action section ------ */

.cta-container {
    display: flex;
    justify-content: center;
}

.cta-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50vw;
    background-color: var(--cta-bg);
    border-radius: .5rem;
    margin: 6rem 3rem;
    padding: 6rem 3rem;
    gap: 10rem;
}

.cta-text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.cta-header, .cta-subtext, .cta-btn {
    display: flex;
}

.cta-header {
    font-size: var(--header-logo-text-size);
    font-weight:700;
    color: var(--main-text)
}

.cta-subtext {
    font-size: 1.6rem;
    color: var(--quote-bg);
}

.cta-btn {
    display: flex;
    align-self: center;
    flex-shrink: 0;
    border-radius: .5rem;
    border: 0.2rem solid white;
    background-color: var(--button-colour);
    font-size: var(--hero-secondary-text-size);
    font-weight: 600;
    color: var(--main-text);
    padding: .5rem 1.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-bg);
    color: var(--main-text);
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}